<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
  <nav>
    <div class="nav-container">
      <div class="nav-left">
        <img class="logo" src="https://raw.githubusercontent.com/comeduschool/instaclone/main/web/public/logo2.png" alt="logo.png">
      </div>
      <div class="nav-center"></div>
      <div class="nav-right">
        <span class="nav-item">
          <img class="nav-item-icon" src="https://raw.githubusercontent.com/comeduschool/instagram/django/reactjs/web/public/assets/icons/home-outlined.svg" alt="home.svg" />
        </span>
        <span class="nav-item">
          <img  class="nav-item-icon" src="https://raw.githubusercontent.com/comeduschool/instagram/django/reactjs/web/public/assets/icons/add-outlined.svg" />
        </span>
        <span class="nav-item">
          <img class="nav-item-profile" src="{{ user.profile.avatar.url }}" alt="{{ user.name }}" />{{ user.profile.name }}
          <div class="nav-menu">
            <div class="nav-menu-contaner-show">
              {% if request.user.is_authenticated %}
              <div class="nav-menu-contaner-tail"></div>
              <div class="nav-menu-item-list">
                <a class="icon-label-container nav-menu-logout" href="{% url 'logout' %}">
                  <span class="icon-label">Logout</span></a>
                <br>
                <a class="icon-label-container nav-menu-logout" href="{{ user.profile.get_absolute_url }}">
                  <span class="icon-label">Your Profile</span></a>
              </div>
              {% else %}
              <div class="nav-menu-contaner-tail"></div>
              <div class="nav-menu-item-list">
                <a class="icon-label-container nav-menu-logout" href="{% url 'login' %}">
                  <span class="icon-label">Login</span></a>
                <br>
                <a class="icon-label-container nav-menu-logout" href="{% url 'register' %}">
                  <span class="icon-label">Register</span></a>
              </div>
              {% endif %}
            </div>
          </div>
        </span>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  {% for i in post %}
  <div class="center">
  <div class="feeds">
    <div class="feed">
      <div class="feed-header">
        <div class="feed-header-content">
          <div class="feed-header-profile-containter">
            <img class="feed-header-profile" src="{{ i.author.avatar.url }}" alt="test profile" />
            <a href="{{ i.author.get_absolute_url }}"><p class="feed-header-username">{{ i.author.name }}</p></a>
          </div>
          <img src="https://raw.githubusercontent.com/comeduschool/instagram/django/reactjs/web/public/assets/icons/more.svg" alt="more icon" />
        </div>
      </div>
      <div class="feed-content-image">
        <div>
          <img class="feed-image" src="{{ i.image.url }}" alt="test image"/>
        </div>
      </div>
      <div class="feed-content">
        <div class="feed-content-icons">
          <span class="feed-content-icon">
            <img src="https://raw.githubusercontent.com/comeduschool/instagram/django/reactjs/web/public/assets/icons/favorite-outlined.svg" alt="favorite icon"/>
          </span>
          <span class="feed-content-icon">
            <img src="https://raw.githubusercontent.com/comeduschool/instagram/django/reactjs/web/public/assets/icons/reply-outlined.svg" alt="comment icon"/>
          </span>
          <span class="feed-content-icon">
            <img src="https://raw.githubusercontent.com/comeduschool/instagram/django/reactjs/web/public/assets/icons/send-outlined.svg" alt="message icon"/>
          </span>
          <span class="feed-content-icon-left">
            <img src="https://raw.githubusercontent.com/comeduschool/instagram/django/reactjs/web/public/assets/icons/saved-outlined.svg" alt="save icon"/>
          </span>
        </div>
        <p class="feed-favorites">{{ i.like_count }} likes</p>
        <p class="feed-description"><span class="feed-username">{{ i.author.name }}: </span>{{ i.comment }}</p>

      </div>
      <div class="feed-comment-input-container">
        <span class="feed-comment-icon">
          <img src="https://raw.githubusercontent.com/comeduschool/instagram/django/reactjs/web/public/assets/icons/smile.svg" alt="emoticon icon" />
        </span>
        <input class="feed-comment-input" type="text" placeholder="Comment..." />
        <button class="feed-comment-btn"></button>
      </div>
    </div>
  </div>
</div>
  {% endfor %}
</body>
</html>